.actual
{
    background-image: url('lap.png');
    height: 230px;
    width: 380px;
    background-repeat: no-repeat;
    background-attachment:scroll;
    
}
.create
{
    border: 1px solid rgb(240, 237, 237);
    border-radius: 10px;
    height: 230px;
    width: 380px;
    
}
.ctext
{
    margin-left: 10px;
    height: 1px;
    width: 200px;
    color: rgb(16, 8, 24);
    float: left;
}
.cimg
{
    background-image: url('pizza.jpeg');
    float:right;
    height: 230px;
    width: 185px;
    background-repeat: no-repeat;
    
}
input[type=button]
{
    
    color: rgb(24, 77, 17,0.7);
    font-weight: bolder;
    background-color: aliceblue;
    border-width: 1px;
    border-color: rgb(7, 48, 5);
    border-radius: 5px;
    height: 35px;
    width: 80px;
    margin-top: 170px;
    margin-left: 65px;
}
.clink
{
    margin-left: 10px;
    float: left;
    margin-top: 130px;
    
}
a:link{
    text-decoration: none;
    color: rgb(27, 77, 17); 
}
